html,body {
  padding: 0;
  margin: 0;
  background-color: #014785;
}

.header {
  padding: 50px;
  text-align: center;
  background: #ffffff;
  color: #FFFFFF;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
}

.logo2 {
  padding: 50px;
  text-align: center;
  background: #131b24;
  color: #FFFFFF;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
}



.content {
     margin: 160px;
}

.footer {
     
     background: #014785;
     padding: 100px;
    height: 700px;
  
}

.RSS {
  margin: 10px 0;
  position: relative;
    box-sizing: border-box;
    margin-left: 10px;
    border: 2px solid #242D3A;
    border-radius: 10px;
   float: left;
  z-index: 1;
  background-color: #CDDBEB;
  
  
  
  
}

.RSS a {
  font-size: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration:none;
   margin-left: 10px;
   color: #242D3A;
           
}

.RSS:hover {
	background-color: #E1EEFF;
  text-decoration:none;
}

.RSS img {
  
  width: 500px;
  height: 300px;
  border-radius: 10px;
  
}

.logo {
  border-radius: 4px;
  padding: 5px;
  height: 250px;
}

.image2 {
  margin-top: 45px;
  border-radius: 4px;
  padding: 10px;
  height: 250px;
 }

p1 {
  margin-left: 10px;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  color: #014785;
  text-align: center;
  font-weight: bold;
}

p2 {
  background-color: #73bad5;
  color: #131b24;
  margin-left: 10px;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  padding: 5px;
}

p2 {
  background-color: #73bad5;
  color: #131b24;
  margin-left: 10px;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  padding: 5px;
}

p2 {
  background-color: #73bad5;
  color: #131b24;
  margin-left: 10px;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  padding: 5px;
}

p3 {
  
  color: #ffffff;
  margin-left: 10px;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  padding: 5px;
}
